<section>
    <div class="container">
    <!-- *ngIf="showEditForm"> -->
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <div class="login-form border p-5">
                <h2 class="mb-2">Edit user </h2>
            <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
            <div class="form-group mb-4">
                <label for="role">Role</label>
                <select class="form-control" formControlName="role">
                  <option value="ADMINISTRATEUR">Admin</option>
                  <option value="MANAGER">Manager</option>
                </select>
                <div
                  *ngIf="
                    editForm.get('role')?.invalid && editForm.get('role')?.touched
                  "
                >
                  <small class="form-text text-danger"
                    >Please enter a valid role</small
                  >
                </div>
            </div>
            
            <div class="form-group mb-4">
              <label for="email">Email Address</label>
              <input
                type="email"
                class="form-control"
                placeholder="Enter email address"
                formControlName="email"
              />
              <div
                *ngIf="
                  editForm.get('email')?.invalid &&
                  editForm.get('email')?.touched
                "
              >
                <small class="form-text text-danger"
                  >Please enter a valid email address</small
                >
              </div>
            </div>
            <div class="form-group mb-4">
              <label for="firstname">Firstname</label>
              <input
                type="text"
                class="form-control"
                placeholder="Enter first name"
                formControlName="firstname"
              />
              <div
                *ngIf="
                  editForm.get('firstname')?.invalid &&
                  editForm.get('firstname')?.touched
                "
              >
                <small class="form-text text-danger"
                  >Please enter first name</small
                >
              </div>
            </div>
            <div class="form-group mb-4">
              <label for="lastname">Lastname</label>
              <input
                type="text"
                class="form-control"
                placeholder="Enter last name"
                formControlName="lastname"
              />
              <div
                *ngIf="
                  editForm.get('lastname')?.invalid &&
                  editForm.get('lastname')?.touched
                "
              >
                <small class="form-text text-danger"
                  >Please enter last name</small
                >
              </div>
            </div>
            <div class="form-group mb-4">
              <label for="phone">Phone Number</label>
              <input
                type="text"
                class="form-control"
                placeholder="Enter phone number"
                formControlName="phone"
              />
              <div
                *ngIf="
                  editForm.get('phone')?.invalid &&
                  editForm.get('phone')?.touched
                "
              >
                <small class="form-text text-danger"
                  >Please enter phone</small
                >
              </div>
            </div>
            <div class="form-group mb-4">
                <label for="address">Address</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter address"
                  formControlName="address"
                />
                <div
                  *ngIf="
                    editForm.get('address')?.invalid &&
                    editForm.get('address')?.touched
                  "
                >
                  <small class="form-text text-danger"
                    >Please enter address</small
                  >
                </div>
              </div>
              <div class="form-group mb-4">
                  <label for="password">Password</label>
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Enter Password"
                    formControlName="password"
                  />
                  <div
                    *ngIf="
                      editForm.get('password')?.invalid &&
                      editForm.get('password')?.touched
                    "
                  >
                    <small class="form-text text-danger"
                      >Please enter your password</small
                    >
                  </div>
                </div>
                <div class="form-group">
                  <label for="confirmPassword">Confirm Password</label>
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Confirm Password"
                    formControlName="confirmPassword"
                  />
                  <div
                    *ngIf="
                      editForm.get('confirmPassword')?.invalid &&
                      editForm.get('confirmPassword')?.touched
                    "
                  >
                    <small class="form-text text-danger"
                      >Please confirm your password</small
                    >
                  </div>
                </div>
            <button
              type="submit"
              class="btn btn-main mt-3 btn-block"
              [disabled]="!editForm.valid"
            >
              Edit
            </button>
          </form>
            </div>
            </div>
            </div>
            </div>
        </section>